Repository msyavuz/dbdesigner, changes with the labels that .github/labeler.yml gives for each.
All labels: server, client, shared

chore: add testing libraries
  bun.lock
  client/package.json
  shared/package.json
Labels: client, shared

Update issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
Labels: none

Update issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
Labels: none

chore: update readme
  README.md
Labels: none

0.3.2
  package.json
Labels: none

feat: bulletproof-react structure
  client/src/app/index.tsx
  client/src/app/providers.tsx
  client/src/app/router.tsx
  client/src/assets/beaver.svg
  client/src/components/common/app-sidebar.tsx
  client/src/features/auth/components/login-form.tsx
  client/src/features/auth/components/nav-user.tsx
  client/src/features/auth/components/signup-form.tsx
  client/src/features/auth/components/user-profile.tsx
  client/src/features/projects/components/project-card.tsx
  client/src/features/projects/components/project-dialog.tsx
  client/src/features/tables/components/columns-table.tsx
  client/src/features/tables/components/columns-utils.tsx
  client/src/features/tables/components/new-table-dialog.tsx
  client/src/features/workbench/components/table-node.tsx
  client/src/features/workbench/components/workbench-controls.tsx
  client/src/lib/client.ts
  client/src/lib/utils.ts
  client/src/main.tsx
  client/src/routes/__root.tsx
  client/src/routes/_protected/projects/$projectId/ai/index.tsx
  client/src/routes/_protected/projects/$projectId/workbench/index.tsx
  client/src/routes/_protected/projects/index.tsx
  client/src/routes/auth/login/index.tsx
  client/src/routes/auth/signup/index.tsx
Labels: client

chore: initial testing steps
  bun.lock
  client/package.json
  client/src/components/common/delete-dialog.test.tsx
  client/src/components/common/delete-dialog.tsx
  client/src/test-setup.ts
  client/tsconfig.app.json
  client/tsconfig.json
  client/tsconfig.test.json
  client/vite.config.ts
  server/package.json
  server/src/example.test.ts
  server/tsconfig.json
  server/vitest.config.ts
  shared/package.json
Labels: server, client, shared

feat: github actions for unit tests
  .github/workflows/client-unit-tests.yml
  .github/workflows/server-unit-tests.yml
Labels: none

fix: formatting
  client/vite.config.ts
Labels: client

feat: use-workbench test
  client/src/features/workbench/hooks/use-workbench.test.tsx
  client/src/features/workbench/hooks/use-workbench.tsx
  client/src/lib/client.ts
  client/src/routes/_protected/projects/$projectId/workbench/index.tsx
  server/src/example.test.ts
Labels: server, client

feat: github ci checks
  .github/workflows/client-type-check.yml
  .github/workflows/server-type-check.yml
  .github/workflows/server-unit-tests.yml
  server/package.json
Labels: server

feat: test db and auth tests
  client/src/lib/client.ts
  server/.env.example
  server/src/index.ts
  server/src/lib/auth.ts
  server/src/lib/openapi.ts
  server/src/routers/auth.test.ts
  server/src/routers/auth.ts
  server/src/routers/docs.ts
  server/src/routers/health.test.ts
  server/src/routers/health.ts
  server/src/test-setup.ts
  server/vitest.config.ts
Labels: server, client

fix: don't initialize ai client in testing
  server/src/lib/ai.ts
  server/src/routers/ai.ts
Labels: server

feat: pr-lint
  .github/workflows/pr-lint.yml
Labels: none

fix: add submodule
  .gitmodules
Labels: none

chore: add codeowners
  .github/CODEOWNERS
Labels: none

fix: ci test db
  .github/workflows/server-unit-tests.yml
Labels: none

feat: crud in all views
  bun.lock
  client/package.json
  client/src/components/ui/alert-dialog.tsx
  client/src/features/projects/components/project-dialog.tsx
  client/src/features/relationships/components/edit-relationship-dialog.tsx
  client/src/features/relationships/components/new-relationship-dialog.tsx
  client/src/features/tables/components/columns-utils.tsx
  client/src/features/tables/components/new-table-dialog.tsx
  client/src/features/workbench/components/workbench-controls.tsx
  client/src/lib/client.ts
  client/src/lib/utils.ts
  client/src/routes/_protected/projects/$projectId/relationships/index.tsx
  client/src/routes/_protected/projects/$projectId/tables/index.tsx
Labels: client

fix: client biome
  .github/workflows/client-biome-check.yml
  client/package.json
Labels: client

fix: ci
  .github/workflows/server-unit-tests.yml
Labels: none

0.5.0
  package.json
Labels: none

0.5.1
  package.json
Labels: none

fix: design sync
  client/src/features/workbench/components/workbench-controls.tsx
  client/src/features/workbench/hooks/use-workbench.tsx
  client/src/hooks/use-design.tsx
  client/src/routes/index.tsx
Labels: client

fix: docker and ai
  .env.example
  Dockerfile
  bun.lock
  docker-compose.yml
  server/.env.example
  server/package.json
  server/src/index.ts
  server/src/lib/env.ts
  server/src/routers/ai.ts
Labels: server

feat: working? ai tool calling
  client/src/features/workbench/components/table-node.tsx
  server/src/index.ts
  server/src/lib/ai.ts
  server/src/lib/ai/index.ts
  server/src/lib/ai/tool-handlers.ts
  server/src/lib/ai/tools.ts
  server/src/lib/auth.ts
  server/src/routers/ai.ts
Labels: server, client

.github/labeler.yml:

############################################
# Areas of the main codebase
############################################

server:
- changed-files:
  - any-glob-to-any-file:
    - 'server/**'
client:
- changed-files:
  - any-glob-to-any-file:
    - 'client/**'
shared:
- changed-files:
  - any-glob-to-any-file:
    - 'shared/**'
